<h1>New Review For <%= link_to @movie.title, @movie %></h1>

<%= render 'shared/errors', object: @review %>

<%= form_with(model: [@movie, @review], local: true) do |f| %>

  <h3>
    <%= f.label :name, autofocus: true %>
    <%= f.text_field :name %>
  </h3>

  <h3>
    <%= f.label :stars, "Stars" %>
    <%= f.select :stars, Review::STARS, prompt: "Pick One" %>
  </h3>

  <p>
    <%= f.label :content %>
    <%= f.text_area :comment, placeholder: "What did you think of the movie?" %>
  </p>

  <%= f.submit %>
<% end %>