<header>
  <nav>
    <%= link_to image_tag("logo.png"), movies_path %>

      <ul>
        <% if current_user %>
          <li>
            <%= link_to current_user.name, user_path(current_user.id) %>
          </li>
          <li style="list-style-type: none;">
            <%= link_to "Released Movies", movies_path %>
          </li>
          <li style="list-style-type: none;">
            <%= link_to "Upcoming Movies", filtered_movies_path(:upcoming) %>
          </li>
          <li style="list-style-type: none;">
            <%= link_to "Recent Movies", filtered_movies_path(:recent) %>
          </li>
          <% if current_user_admin? %>
            <li style="list-style-type: none;">
              <%= link_to "New Movie", new_movie_path %>
            </li>
          <% end %>
          <%= link_to "Sign Out", session_path, method: :delete, class: "button" %>
        <% else %>
          <li>
            <%= link_to "Sign In", new_session_path, class: "button" %>
          </li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        <% end %>
      </ul>
  </nav>
</header>