<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= image_tag("logo") %>

          <ul>
            <li style="list-style-type: none;">
              <%= link_to "All Movies", movies_path %>
            </li>
            <li style="list-style-type: none;">
              <%= link_to "New Movie", new_movie_path %>
            </li>
          </ul>
      </nav>

    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Copyright &copy; 2020-<%= Time.now.year %>
      </p>
    </footer>
  </body>
</html>
